@import "../../styles/variables";


.button {
  background-color: $primary;
  border: 1px solid $primary;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: opacity 0.2s;
  cursor: pointer;
  font-weight: 100;

  &:hover:enabled {
    opacity: 0.7;
  }

  &:active {
    background-color: burlywood;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.outlined {
    background-color: transparent;
    color: $primary;
  }
}
