$primary: darksalmon;

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.inputWrapper {
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 10px;
}

.input {
  padding: 2px 10px;
}


.button {
  background-color: $primary;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: opacity 0.2s;
  cursor: pointer;
  font-weight: 100;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    background-color: burlywood;
  }
}

.itemWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-template-rows: repeat(auto-fit, 250px);
  grid-auto-rows: 250px;
  grid-auto-columns: 250px;
}

.item {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
